* {
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Chivo', sans-serif;
  line-height: 1.6; }

h1, h2, h3 {
  margin: 0 0 1rem 0;
  font-weight: 900;
  line-height: 1.2;
  color: #326273; }

a {
  color: #326273;
  text-decoration: none; }
  a:hover {
    opacity: .7;
    transition: all .2s linear; }
  a.more:after {
    content: "\2192"; }

.bio-image {
  width: 20rem;
  margin: auto;
  text-align: center; }
  .bio-image img {
    max-width: 100%;
    height: auto;
    border-radius: 50%; }

.container {
  max-width: 64rem;
  margin: 0 auto;
  padding: 4rem 2rem; }

.site-header {
  background-color: #E6ECEE;
  padding: 1rem 2rem; }

.homepage .site-header {
  background-color: #fff; }

.brand {
  display: block;
  font-size: 1.125rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: inherit;
  text-decoration: none; }
  .brand .brand-title {
    position: relative;
    top: -.75rem;
    display: inline-block; }
  .brand svg {
    width: 3rem;
    height: auto; }
  .brand:hover svg {
    transform: rotate(-80deg);
    transition: all .5s ease-in-out; }

.homepage .brand svg {
  width: 8.75rem; }

.homepage .site-header {
  padding-top: 2rem; }

.homepage .brand-title {
  position: static;
  display: block; }

.site-footer {
  background-color: #13252c;
  text-align: center; }
  .site-footer .container {
    padding: 2rem; }

.nav {
  list-style: none;
  margin: 0;
  padding: 0; }
  .nav li {
    display: inline-block;
    color: #fff; }
    .nav li:after {
      content: "|";
      display: inline-block;
      padding: 0 .5rem; }
    .nav li:first-child {
      text-transform: uppercase;
      letter-spacing: .5px; }
    .nav li:last-child:after {
      content: ""; }
    .nav li:first-child a {
      text-transform: uppercase; }
    .nav li a {
      color: #fff; }

.homepage {
  text-align: center; }

.hero-section .container {
  padding-top: 2rem;
  padding-bottom: 8rem; }

.hero-text {
  margin: 0;
  font-size: 4rem;
  font-weight: 900;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #326273; }

.portfolio-section {
  background-color: #E6ECEE; }
  .portfolio-section .container {
    padding-top: 8rem;
    padding-bottom: 8rem; }

.contact-section .container {
  padding-top: 8rem;
  padding-bottom: 8rem; }

.contact-section h2 {
  font-size: 2.5rem;
  text-transform: uppercase; }

.contact-section p {
  max-width: 32rem;
  margin: 0 auto 2rem auto;
  font-size: 1.125rem; }

.content-header {
  background-color: #E6ECEE;
  text-align: center; }
  .content-header h1 {
    max-width: 80%;
    margin: auto;
    font-size: 3.5rem; }

.content-meta {
  color: #333;
  text-transform: uppercase;
  color: gray; }
  .content-meta a {
    color: inherit; }

.content-body {
  max-width: 38rem;
  margin: auto; }
  .content-body img {
    max-width: 100%;
    height: auto; }
  .content-body ul {
    list-style: square; }
  .content-body ul, .content-body ol {
    padding-left: 1rem;
    text-indent: .25rem; }
  .content-body ul li, .content-body ol li {
    margin-bottom: .25rem; }
  .content-body blockquote {
    margin: 2rem 0;
    padding: 0 1.375rem;
    border-left: 6px solid #326273;
    line-height: 1.3;
    font-size: 1.5rem;
    font-style: italic;
    color: #326273; }
    .content-body blockquote p:first-of-type {
      margin-top: 0; }
    .content-body blockquote p:last-of-type {
      margin-bottom: 0; }
    .content-body blockquote a {
      color: #79b1c5; }

.embed {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  overflow: hidden; }
  .embed iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.portfolio-sites {
  list-style: none;
  margin: 0 0 3rem;
  padding: 0;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 50% 50%; }

.portfolio-site-preview {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 1rem; }
  .portfolio-site-preview img {
    max-width: 100%;
    height: auto;
    border-radius: 1rem 1rem 0 0; }
  .portfolio-site-preview .caption {
    padding: 1rem;
    text-align: left;
    border-radius: 0 0 1rem 1rem; }
    .portfolio-site-preview .caption h3 {
      margin: 0;
      font-size: 1rem;
      font-weight: 400;
      color: #333; }
    .portfolio-site-preview .caption a {
      text-decoration: none;
      color: inherit; }

/*portfolio page*/
.portfolio-site-header .container {
  padding-bottom: 0; }

.portfolio-site-screenshot {
  position: relative;
  bottom: -6px;
  margin: 0; }
  .portfolio-site-screenshot img {
    max-width: 100%;
    height: auto;
    border-radius: 1rem 1rem 0 0; }

.portfolio-site .tags {
  margin-top: 2rem; }

.previous-posts .posts {
  list-style: none;
  margin: 0;
  padding: 0; }
  .previous-posts .posts li {
    display: table;
    width: 100%;
    margin-bottom: .75rem; }
    .previous-posts .posts li a {
      text-decoration: none; }

.previous-posts .previous-post-date {
  display: table-cell;
  width: 20%;
  padding-right: 1rem;
  font-size: .875rem;
  border-bottom: 1px solid #e6e6e6; }

.previous-posts .previous-post-title {
  display: table-cell;
  border-bottom: 1px solid #e6e6e6;
  text-align: left; }

.tags {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center; }
  .tags li {
    display: inline-block;
    margin: .5rem .25rem; }
  .tags a {
    display: block;
    padding: .5rem 2rem;
    border-radius: 2rem;
    background-color: #84c1ca;
    color: #13252c;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .75rem; }

.form h1 {
  text-transform: uppercase;
  color: #326273; }

form {
  padding-bottom: 4rem;
  background-color: #fff; }
  form hr {
    margin: 2rem 0 2.5rem; }

label {
  display: block;
  margin-bottom: .375rem;
  text-transform: uppercase;
  font-size: .875rem;
  letter-spacing: 1px;
  color: #666666; }

input[type=text], input[type=email], select, textarea {
  font-family: inherit;
  font-size: 100%; }

input[type=text], input[type=email], textarea {
  padding: 1rem;
  border: 1px solid #ccc; }

textarea {
  resize: none; }

fieldset {
  margin-bottom: 1rem;
  padding: 0;
  border: 0; }

.control-group {
  margin-bottom: 2rem; }

.wide-controls label, .wide-controls input, .wide-controls select, .wide-controls textarea {
  width: 100%; }

.button {
  display: inline-block;
  padding: 1.125rem 3rem;
  background-color: #326273;
  border: 0;
  font-family: inherit;
  font-size: 100%;
  color: inherit;
  text-decoration: none;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  cursor: pointer;
  border-radius: 2rem; }
  .button:hover {
    opacity: .7;
    transition: all .2s linear; }
  .button.fancy {
    padding-left: 4rem;
    padding-right: 4rem; }
    .button.fancy:hover {
      transform: scale(1.05); }

.contact {
  background: #326273;
  overflow: hidden;
  color: #fff; }
  .contact h3 {
    text-transform: uppercase; }
  .contact p {
    margin-bottom: 3rem; }
    @media screen and (min-width: 40rem) {
      .contact p {
        float: left;
        max-width: 70%; } }
  .contact .button {
    color: #fff;
    border-color: #fff; }
    @media screen and (min-width: 40rem) {
      .contact .button {
        float: right; } }
