.site-footer{
  background-color: darken($primary-color, 20%);
  text-align: center;

  .container{
    padding: 2rem;
  }
}

.nav{
  list-style: none;
  margin: 0;
  padding: 0;

  li{
    margin-bottom: 1rem;
    color: $white;

    @media screen and (min-width: 30rem){
      display: inline-block;
      margin-bottom: 0;
      margin-left: .5rem;
      margin-right: .5rem;
    }

    &:first-child{
      text-transform: uppercase;
      letter-spacing: .5px;
    }

    &:first-child a{
      text-transform: uppercase;
    }

    a{
      color: $white;
    }
  }
}
