

.form h1{
  text-transform: uppercase;
  color: $primary-color;
}

form{
  padding-bottom: 4rem;
  background-color: $white;

  hr{
    margin: 2rem 0 2.5rem;
  }
}

label{
  display: block;
  margin-bottom: .375rem;
  text-transform: uppercase;
  font-size: .875rem;
  letter-spacing: 1px;
  color: lighten($font-color, 20%);
}

input[type=text], input[type=email], select, textarea{
  font-family: inherit;
  font-size: 100%;
}

input[type=text], input[type=email], textarea{
  padding: 1rem;
  border: 1px solid #ccc;
}

textarea{
  resize: none;
}

fieldset{
  margin-bottom: 1rem;
  padding: 0;
  border: 0;
}

.control-group{
  margin-bottom: 2rem;
}

.wide-controls label, .wide-controls input, .wide-controls select, .wide-controls textarea{
  width: 100%;
}

.button{
  display: inline-block;
  padding: 1.125rem 3rem;
  background-color: $primary-color;
  border: 0;
  font-family: inherit;
  font-size: 100%;
  color: inherit;
  text-decoration: none;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: $white;
  text-align: center;
  cursor: pointer;
  border-radius: 2rem;

  &:hover{
    opacity: .7;
    transition: all .2s linear;
  }

  &.fancy{
    padding-left: 4rem;
    padding-right: 4rem;

    &:hover{
      transform: scale(1.05);
    }
  }
}
