.site-header{
  background-color: $secondary-color;
  padding: 1rem 2rem;
}

.homepage .site-header{
  background-color: $white;
}

.brand{
  display: block;
  font-size: 1.125rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: inherit;
  text-decoration: none;

  .brand-title{
    position: relative;
    top: -.75rem;
    display: inline-block;

  }

  svg{
    width: 3rem;
    height: auto;
  }

  &:hover{
    svg{
      transform: rotate(-80deg);
      transition: all .5s ease-in-out;
    }
  }
}

.homepage .brand svg{
  width: 8.75rem;
}

.homepage .site-header{
  padding-top: 2rem;
}

.homepage .brand-title{
  position: static;
  display: block;
}
