.homepage{
  text-align: center;
}

.hero-section{
  .container{
    padding-top: 2rem;
    padding-bottom: 4rem;

    @media screen and (min-width: 30rem){
      padding-bottom: 8rem;
    }
  }
}

.hero-text{
  margin: 0;
  font-size: 8vw;
  font-weight: 900;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $primary-color;

  @media screen and (min-width: 30rem){
    font-size: 4rem;
  }
}

.portfolio-section{
  background-color: $secondary-color;

  .container{
    @media screen and (min-width: 30rem){
      padding-top: 8rem;
      padding-bottom: 8rem;
    }
  }
}

.contact-section{
  .container{

    @media screen and (min-width: 30rem){
      padding-top: 8rem;
      padding-bottom: 8rem;
    }
  }

  h2{
    font-size: 2.5rem;
    text-transform: uppercase;
  }

  p{
    max-width: 32rem;
    margin: 0 auto 2rem auto;
    font-size: 1.125rem;
  }
}
