.portfolio-sites{
  list-style: none;
  margin: 0 0 3rem;
  padding: 0;

  @media screen and (min-width: 30rem){
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr 1fr;
  }
}

.portfolio-site-preview{
  width: 100%;
  margin-bottom: 2rem;
  background-color: rgba(255,255,255, .7);
  border-radius: 1rem;

  @media screen and (min-width: 30rem){
    margin-bottom: 0;
  }

  .thumbnail{
    display: block;
    width: 100%;
  }

  img{
    max-width: 100%;
    height: auto;
    border-radius: 1rem 1rem 0 0;
  }

  .caption{
    padding: 1rem;
    text-align: left;
    border-radius: 0 0 1rem 1rem;

    h3{
      margin: 0;
      font-size: 1rem;
      font-weight: 400;
      color: $font-color;
    }

    a{
      text-decoration: none;
      color: inherit;
    }
  }
}


/*portfolio page*/

.portfolio-site-header{
  .container{
    padding-bottom: 0;
  }
}

.portfolio-site-screenshot{
  position: relative;
  bottom: -6px;
  margin: 0;

  img{
    max-width: 100%;
    height: auto;
    border-radius: 1rem 1rem 0 0;
  }
}

.portfolio-site .tags{
  margin-top: 2rem;
}
